body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
}

.profile {
    width: 100px;
    margin-bottom: 50px;
    border-radius: 50%;
    margin-left: 1078px;
}

.paralax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: white;
    left: 800px;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    margin-left: 500px;
    z-index: 9;
}

h1 {
    font-size: 50px;
    line-height: 1.2;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: center;
    font-family: 'Bangers', cursive;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: cursive;
}

h2 {
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace;
}

#intro {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

.line {
    height: 6px;
    background-color: #000000;
    width: 70px;
    margin: 8px auto;
    text-align: center;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.menu {
    list-style: none;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
    font-family: 'Pirata One', cursive;
    float: left;
}

.links {
    float: left;
    color: white;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 50px;
}

.links:hover {
    background-color: dodgerblue
}

#soccer {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

img {
    text-align: center;
    width: 600px;
    height: 400px;
    transition: transform 2s;
}

img:hover {
    transform: scale(0.9);
}

#messi {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}
